<Signature xmlns="http://www.w3.org/2000/09/xmldsig#">
{SignedInfo}
<SignatureValue>{SignatureValue}</SignatureValue>
<KeyInfo>
<X509Data>
<X509Certificate>
{X509Certificate}
</X509Certificate>
</X509Data>
</KeyInfo>
</Signature>